<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0HEjU3XuZd1ySrQbyJ-GjJYX9Ox_L_z0</string>
	<key>GCM_SENDER_ID</key>
	<string>646042829721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManagerApp</string>
	<key>PROJECT_ID</key>
	<string>taskmanagerapp-9f056</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanagerapp-9f056.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646042829721:ios:b98a7a149d0ad34fdc4908</string>
	<key>DATABASE_URL</key>
	<string>https://taskmanagerapp-9f056-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>